.Home {
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  height: 89vh
}

.Home-logo {
  flex: 1 1 auto;
  max-height: 30vh;
  width: 80vw;
  align-self:center;
  background-attachment: fixed;
  background-size: 150vw auto;
  background-repeat: repeat-y;
  background-position: 0 100px;
}

.Home-header {
  font-size: calc(5vh);
  font-weight: 700;
  font-family: Gill Sans, sans-serif;
  height: auto;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  color: white;
}

.grid-container {
display: flex;
flex-direction: column;
flex: 1 1 auto;
  align-items: center;

}

.grid-container:nth-child(2) {
margin-top: 1em;
bottom: 10vh;
}
.grid-container div {
font-family: Gill Sans, sans-serif;
border: #fff solid 2px;
border-radius: 4px;
flex: 1 1 auto;
margin: 1vh 0;
color: #fff;
font-weight: bold;
align-self: center; 
min-width: 90vw;
height: 5vh;
min-height: 30px;
font-size: 2em;
}

.module{
  flex: 1 1 auto;
  background: #fff;
  width: 100%;
  height: 30px;
}
.theme-5 .grid-container div, .theme-5 .Home-header{color: black; border-color: black;}
.theme-5 .module {background: #ddd;}