.List {
  text-align: center;
  display: block;
  flex-direction: column;
  background-color: #eee;
  overflow: hidden;
  flex: 96 1 auto;
  position: relative;
  justify-content: space-between;
}
.List .header {
  font-size: calc(4vh);
  text-align: center;
  font-weight: 700;
  font-family: Gill Sans, sans-serif;
  height: auto;
  align-items: center;
  justify-content: center;
  color: white !important;
  text-decoration-style: none !important;
  position: absolute;
  top: 0%;
  padding: 2vh 10vh;
}
.List ul {padding: 0;}
.List li {list-style:none;padding: 0;}
.List .image {
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.16));
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: 50% 50%;
}
.List .item{
  height:30vh;
  background: #ccc;
  color: black;
  text-align: left;
  position: relative;
  margin-bottom: 1vh;
}
